.services-container {
    position: relative;
    /* bottom: ; */
    background-image: url("../../../public//images/Rectangle.png"); 
    background-size: cover;
    height: 400px;
    display: flex;
}

.services-content {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    margin-block-start: 3rem;

    .service-title {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        h1 {
            width: 80%;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }

        p {
            width: 80%;
            color: #FFFFFFB2;
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; 
        }
    }

    .service-list {
        ul {
            display: flex;
            gap: 80px;
            justify-content: center;
            align-items: center;
            li {
                text-align: left;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                // align-items: center;
                gap: 2rem;
                .corner-line-1 {
                    display: block;
                    background-color: #7DCFFD;
                    width: 87px;
                    height: 5px;
                    border-radius: 4px;
                }
                .corner-line-2 {
                    display: block;
                    background-color: #B171EB;
                    width: 87px;
                    height: 5px;
                    border-radius: 4px;
                }
                .corner-line-3 {
                    display: block;
                    background-color: #7CCBA1;
                    width: 87px;
                    height: 5px;
                    border-radius: 4px;
                }

                .service-content-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // align-items: center;
                    // padding-inline-start: 1.3rem;
                    gap: 1rem;
                    .number {
                        position: absolute;
                        color:  rgba(255, 255, 255, 0.10);
                        font-size: 128px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 60%; 
                        margin-inline-start: -1.4rem;
                    }
                    h2 {
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 28.8px */
                        margin-inline-start: 1rem;
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                    }
                    p {
                        color: #FFFFFFB2;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 18px */
                        margin-inline-start: 1rem;
                        margin-block-start: 0px;

                    }

                    .number-3 {
                        position: absolute;
                        color:  rgba(255, 255, 255, 0.10);
                        font-size: 128px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 100%; 
                        margin-inline-start: -1.4rem;
                    }
                }
                
            }
        }
    }

}


@media screen and (max-width: 700px) {

    .services-container {
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: fit-content;

        background-image: url("../../../public//images/Rectangle.png"); 
        background-position: center;
    }

    .services-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .service-title {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;

            h1 {
                width: 100%;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
            }
    
            p {
                width: 100%;
                color: #FFFFFFB2;
                font-size: 19px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; 
            }
        }

        .service-list {
            ul {
                display: flex;
                flex-direction: column;
                gap: 80px;
                justify-content: center;
                align-items: center;
                li {
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }
            }
        }
    }    
}



@media screen and (max-width: 1536px) {
    .wrapper {
      max-width: 1366px;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
      max-width: 1024px;
    }
}


@media screen and (max-width: 1024px) {
    .services-content {
        padding: 0 5rem;

        .service-title {
            text-align: left;
            h1 {
                width: 100%;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
            }

        }

        .service-list {
            ul {
                li {
                    .service-content-list {

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .services-content {
        padding: 0 2rem;

        .service-title {
            text-align: center;
            h1 {
                width: 100%;
            }

        }
        .service-list {
            ul {
                li {
                    .service-content-list {
                        // width: 150%;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .services-content {
        flex-direction: column;
        padding: 0 2rem;
    
        .service-title {

            h1 {
                text-align: center;
            }
           

        }
        .service-list {
            ul {
                gap: 60px;
                justify-content: center;
                align-items: flex-start;
                li {
                    .service-content-list {
                        // width: 150%;

                    }
                }
            }
        }
    }
}