.header {
    /* #64C6FD  #F3EAFC #FCFDFD #7E27CD*/
    /* rgba(126, 39, 205, 1) rgba(243, 234, 252, 1) rgba(100, 198, 253, 1) rgba(125, 207, 253, 1) */
    /* background: linear-gradient(to left, rgba(126, 39, 205, 0.2), rgba(243, 234, 252, 0.2), rgba(100, 198, 253, 0.1), rgba(125, 207, 253, 0.1)); */
    
    

    // background-image: url("../../../public//images/Topographic1.png");
    
    background: linear-gradient(to bottom, rgba(100, 198, 253, 0.2), rgba(255,0,0,0) 70.71%),
    // linear-gradient(110deg, rgba(126, 39, 205, 0.2), rgba(0,0,255,0) 70.71%),
    linear-gradient(to bottom, rgba(125, 207, 253, 0.1), rgba(0,255,0,0) 90%),
    linear-gradient(to bottom, rgba(243, 234, 252, 0.2), rgba(0,255,0,0) 90%);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header-content {
    display: flex;
    justify-self: center;
    /* border: 1px solid red; */
}
.header-title {
    padding: 0;
    margin: 0;
    color: #080022;
    font-family: Plus Jakarta Sans;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 58.8px */

    .text-flipping {

        .inner-flipping {
            overflow: hidden;
            position: relative;
            height: 62px; 
            float: right;  
        }

        .text-list {
            display: inline-block;
            position: relative;
            white-space: nowrap;
            animation: move 4s ease-in-out;
            animation-iteration-count: infinite;
            // transition: move ease-in-out 5s;
            animation-delay: 2s;
            // font-size: 65px;

            background: linear-gradient(to right, #3db8fc, #8a2be1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 1em;
            margin-bottom: -1em;
        }
        
    }
}


@keyframes move {
    0%  { top: 0px; }
    20% { top: -60px; }
    40% { top: -130px; }
    50% { top: -0px; }
    80% { top: -0px; }
    // 80% { top: -0px;}
    // 80% { top: -0px;}
}
.upper_text {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: rgba(37, 37, 37, 0.2);
    /* padding-block-end: 96px; */
}
.lower_text {
    padding-block-start: 35px;
    color: #080022B2;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    // width: 60%;
}


.arrow-icon {
    margin-inline-start: 10px;
}

.landing-image {
    margin-block-start: 117px;
}




// .slider{
// 	position: relative;
// 	animation: slideColor 10s forwards infinite;
// }

// .caption{
// 	// line-height: 100px;
// 	font-size: 60px;
// 	position: relative;

   
// }

// .text-box p{
// 	display: inline-block;
// 	position: relative;
//     background: linear-gradient(to right, #3db8fc, #8a2be1);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

// .text-box p{
// 	display: inline-block;
// 	position: absolute;
// 	// top: 200px;
// 	transform: rotateX(-90deg);
//     left: 24rem;

// 	opacity: 0;
// 	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
// 	animation-timing-function: 1s ease;
// }

// .text-box p:nth-child(1){
// 	animation: rollDown 5s forwards infinite;
// }

// .text-box p:nth-child(2){
// 	animation: rollDown2 5s forwards infinite;
// }

// .text-box p:nth-child(3){
// 	animation: rollDown3 5s forwards infinite;
// }

// @keyframes rollDown {
// 	0%{
// 		top: -100px;
// 		// transform: rotateX(-90deg);
// 	}
// 	11%{
// 		top: -74px;
// 		transform: rotateX(0deg);
// 		opacity: 1;
// 	}
// 	22%{
// 		top: -74px;
// 		transform: rotateX(0deg);
// 		// opacity: 1;
// 	}
// 	33%{
// 		top: 0px;
// 		transform: rotateX(10deg);
// 		opacity: 0;
//         // transition: 5s;
// 	}
// }

// @keyframes rollDown2 {
// 	33%{
// 		top: -100px;
// 		transform: rotateX(-90deg);
// 	}
// 	44%{
// 		top: -74px;
// 		transform: rotateX(0deg);
// 		opacity: 1;
// 	}
// 	55%{
// 		top: -74px;
// 		transform: rotateX(0deg);
// 		opacity: 1;
// 	}
// 	66%{
// 		top: 50px;
// 		transform: rotateX(30deg);
// 		opacity: 0;
// 	}
// }

// @keyframes rollDown3 {
// 	66%{
// 		top: -100px;
// 		transform: rotateX(-90deg);
// 	}
// 	77%{
// 		top: -74px;
// 		transform: rotateX(0deg);
// 		opacity: 1;
// 	}
// 	88%{
// 		top: -74px;
// 		transform: rotateX(0deg);
// 		opacity: 1;
// 	}
// 	99%{
// 		top: 50px;
// 		transform: rotateX(30deg);
// 		opacity: 0;
// 	}
// }



