.header {
    /* #64C6FD  #F3EAFC #FCFDFD #7E27CD*/
    /* rgba(126, 39, 205, 1) rgba(243, 234, 252, 1) rgba(100, 198, 253, 1) rgba(125, 207, 253, 1) */
    /* background: linear-gradient(to left, rgba(126, 39, 205, 0.2), rgba(243, 234, 252, 0.2), rgba(100, 198, 253, 0.1), rgba(125, 207, 253, 0.1)); */
    
    
    // background-image: url("../../../public//images/Topographic1.png");
    
    background: linear-gradient(to bottom, rgba(100, 198, 253, 0.2), rgba(255,0,0,0) 70.71%),
    // linear-gradient(110deg, rgba(126, 39, 205, 0.2), rgba(0,0,255,0) 70.71%),
    linear-gradient(to bottom, rgba(125, 207, 253, 0.1), rgba(0,255,0,0) 90%),
    linear-gradient(to bottom, rgba(243, 234, 252, 0.2), rgba(0,255,0,0) 90%);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-block-start: 4rem;

}
.header-content {
    display: flex;
    justify-self: center;
    /* border: 1px solid red; */
}
.header-title {
    padding: 0;
    margin: 0;
    color: #080022;
    font-family: Plus Jakarta Sans;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 58.8px */

    .text-flipping {

        .inner-flipping {
            overflow: hidden;
            position: relative;
            height: 62px; 
            float: right;  
        }

        .text-list {
            display: inline-block;
            position: relative;
            white-space: nowrap;
            animation: move 3s ease-in-out ;
            animation-iteration-count: infinite;
            animation-delay: 2s;
            // animation: ;
            background: linear-gradient(to right, #3db8fc, #8a2be1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 1em;
            margin-bottom: -1em;
        }
        
    }
}


@keyframes move {
    0%  { top: 0px; }
    10%, 30% { top: -60px; }
    40%, 60% { top: -120px; }
    80% { top: -0px; }
}
.upper_text {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: rgba(37, 37, 37, 0.2);
    /* padding-block-end: 96px; */
}
.lower_text {
    padding-block-end: 35px;
    color: #080022B2;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    // color: transparent;
    // line-height: 120%;
    // width: 60%;
}


.arrow-icon {
    margin-inline-start: 10px;
}

.scroll {
    margin-block-start: 4rem;
}

.wrapper {
    margin-block-start: 30px;
    transition: scale 2s ease-in-out;
    scale: 1;
}


/* The animation code */
@keyframes example {

    0%  { 
        transition: 3s ease-in-out;
    }
    10%, 30% { 
        transition: 13s ease-in-out;
    }
    40%, 60% { 
        transition: 13s ease-in-out;
    }
    80% { 
        transition: 3s ease-in-out;
    }
  }
  
  /* The element to apply the animation to */
.wrapper {
    transition: all ease-in-out;
}
