.contact-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    h3 {
        color:  #FFF;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 22.8px */
    }

   
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        input[type=text] {
            padding: 4px 24px;
            
        }
        textarea {
            resize: none;
            padding: 15px 24px;
            height: 100px !important;
            // font-size: 10px;
        }

        .form-control {
            border: none;
            color: #FFFFFFB2;
            font-size: 15px;
            height: 48px;
            width: 456px;
            border-radius: 8px;
            background:  rgba(255, 255, 255, 0.10);
            
            &::placeholder {
                color: #FFFFFFB2;
                font-size: 15px;
            }

            &:focus-visible{
                outline: 2px solid #FFFFFFB2;
                outline-offset: 2px;
            }
        }
    
        .form-control-text {
            display: block;
            color: #FFFFFFB2;
            font-size: 16px;
            text-align: left;
            margin-bottom: 20px;
            margin-top: 6px;
        }
    
        .submit-btn{
            color: white;
            width: 500px;
            padding: 16px 32px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            background:#621FA0;
            border: none;
            cursor: pointer;
            
            &:focus-visible{
                outline: 1px solid #FFFFFFB2;
                outline-offset: 2px;
            }
    
        }
    }
    
}

// @media screen and (min-width: 992px) {
//     .contact .contact-content{
//         grid-template-columns: repeat(2, 1fr);
//         column-gap: 40px;
//         row-gap: 0;
//         align-items: center;
//     }
// }
