.footer {
    position: relative;
    /* bottom: ; */
    background-image: url("../../../public//images/Rectangle_up.svg"); 
    background-size: cover;
    height: 600px;
    display: grid;
}

.footer-content {
    margin-block-start: 6rem;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    text-align: left;
    padding-inline: 6rem;
    // .col {
    //     flex: 1;
    // }
    .about-container {
        width: 70%;
        color:  rgba(255, 255, 255, 0.70);
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; 

        p {
            color:rgba(255, 255, 255, 0.70);
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 22.8px */
            
            img {
                margin-inline-end: 1rem;
            }
        }

        .social-container {
            margin-block-start: 2rem;
            ul {
                display: flex;
                padding: 0;
                gap: 1.4rem;
                .social-text {
                    color: #FFF;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 22.8px */
                }

                li {
                    a {
                        position: relative;
                        color: rgba(255, 255, 255, 0.70);
                        top: 3px;
                    }
                }
            }
        }
    }


    .contact-info-container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1px;
        text-align: left;
        h3 {
            color: #FFF;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 22.8px */
        }

        p {
            color: rgba(255, 255, 255, 0.70);
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 22.8px */
            margin-block-start: 0;
            margin-block-end: 16px;
            
            img {
                margin-inline-end: 10px;
            }
        }
    }

    .contact-from-container {
    }
}