.footer {
    position: relative;
    /* bottom: ; */
    background-image: url("../../../public//images/Rectangle_up.svg"); 
    background-size: cover;
    height: 533px;
    display: flex;
}

.footer-content {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding-inline: 7rem;
    .about-container {
        width: 30%;
        color:  rgba(255, 255, 255, 0.70);
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; 

        p {
            color:rgba(255, 255, 255, 0.70);
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 22.8px */
            
            img {
                margin-inline-end: 1rem;
            }
        }

        .social-container {
            margin-block-start: 2rem;
            ul {
                display: flex;
                padding: 0;
                gap: 1rem;
                .social-text {
                    color: #FFF;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 22.8px */
                }

                li {
                    a {
                        color: rgba(255, 255, 255, 0.70);
                    }
                }
            }
        }
    }

    .contact-from-container {
        // justify-content: center;
    }
}